<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ProTransactions_Dev</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ServletAdaptor</servlet-name>
    <servlet-class>com.sun.jersey.server.impl.container.servlet.ServletAdaptor</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAdaptor</servlet-name>
    <url-pattern>/rs/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Download quarterly statement data</description>
    <servlet-name>DownloadStatementData</servlet-name>
    <servlet-class>com.homedepot.mm.mr.service.DownloadStatementService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadStatementData</servlet-name>
    <url-pattern>/DownloadStatementData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.homedepot.mm.mr.service.TestServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>OrangeLogInitServlet</display-name>
    <servlet-name>OrangeLogInitServlet</servlet-name>
    <servlet-class>com.homedepot.ta.aa.log4j.OrangeLogInitServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <display-name>LogManager</display-name>
    <servlet-name>LogManager</servlet-name>
    <servlet-class>com.homedepot.ta.aa.log4j.LogManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogManager</servlet-name>
    <url-pattern>/LogManager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrangeLogInitServlet</servlet-name>
    <url-pattern>/OrangeLogInitServlet</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>ProTransactions</web-resource-name>
      <url-pattern>/*</url-pattern>
      <http-method>GET</http-method>
      <http-method>PUT</http-method>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
</web-app>